header {
   height: 200px;
}
    
navbar {
    position: relative;
    top: 50px;
}

body {
    background: #c6eaea;
}
.divH1 {
    position: relative;
    top: 40px;
    text-align: center;
}
.footPrintIcon {
    position: relative;
    top: 10px;
    left: 20px;
}

h1 {
    font-family: 'Rampart One', cursive;
    font-size: 60px;
}
.brand {
    font-family: 'Rampart One', cursive;
    font-size: 35px;
}

h2 {
    position: relative;
    top: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: serif;
    width: 50%;
    padding: 5px;
    text-align: center;
}
.iconFlags {
    display: flex;
    position: relative;
    top: 200px;
    flex-direction: row;
    width: 1000px;
    justify-content: space-between;
}
.iconLebanon, .iconEgypt, .iconJapan, .iconSpain {
   height: 200px;
}
/*.hide {
    display: none;
}*/
.lebanonName:hover + .hide {
    display: block;
    color: white;
}

img-fluid {
    width: 50%;
    height: 30%;
    border-radius: 20px;
}
.beirutImage {
    width: 400px;
    height: 620px;
    position: relative;
    top: 200px;
    border: 5px solid white;
}


.beirutH2 {
    position: relative;
    top: -35px;
    left: 25px;
    text-align: center;
    font-family: serif;
    font-size: 40px;
    background: #c6eaea;
    width: 275px;
    opacity: 0.8;
}
.imageGeisha {
    position: relative;
    top: 125px;
    display: block;
    margin-left: auto;
    height: 550px;
    width: 500px;
    border: 5px solid white;
}

.barcelona-statue {
    width: 400px;
    height: 600px;
    display: block;
    margin-left: auto;
    border: 5px solid white;
}
.geishaH2 {
    position: relative;
    top: -125px;
    left: -165px;
    font-size: 40px;
    font-family: serif;
    background: #c6eaea;
    width: 275px;
    opacity: 0.8;
}
.cairoGiza {
    position: relative;
    top: 200px;
    max-width: 450px;
    height: 570px;
    border: 5px solid white;
}
.cairoH2 {
    position: relative;
    top: -50px;
    left: 25px;
    font-size: 40px;
    font-family: serif;
    background: #c6eaea;
    width: 250px;
    opacity: 0.8;
}
.beirutText {
    position: relative;
    top: -35px;
    left: 425px;
    width: 600px;
    border-bottom: 2px solid;
    font-family: serif;
    font-size: 20px;
    border: none;
    background: #c6eaea;
    opacity: 0.8;
}
.geishaText {
    position: relative;
    top: -115px;
    left: 200px;
    width: 600px;
    font-size: 20px;
    font-family: serif;
    border: none;
    background: #c6eaea;
    opacity: 0.8;
}
.gizaText {
    position: relative;
    top: -37px;
    left: 450px;
    width: 600px;
    font-size: 20px;
    font-family: serif;
    border: none;
    background: #c6eaea;
    opacity: 0.8;
}
.contactForm {
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 600px;
    padding: 10px;
    border: 2px solid;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
}
.contactH1 {
    font-family: 'Rampart One', cursive;
    font-size: 70px;
    text-align: center;
    position: relative;
    top: 900px;
}
.biblosCoast {
    background-image: url("images/biblosCoast.jpg");
    height: 425px;
    width: 1280px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.beirutArch {
    background-image: url("images/beirutArch.jpg");
    position: relative;
    top: 300px;
    height: 500px;
    width: 1279px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.beirutArchH2 {
    position: relative;
    top: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: serif;
    width: 50%;
    padding: 5px;
    text-align: center;
    font-size: 60px;
    font-family: 'Rampart One';
    border: 2px solid;
}
p {
    text-align: center;
    font-size: 22px;
    padding: 25px;
}
.guideForm {
    position: relative;
    top: 400px;
    border: none;
}
.customerForm {
    position: relative;
    top: 400px;
    border: none;
}
.destinationTitle {
    font-size: 80px;
    text-align: center;
    background: #c6eaea;
    opacity: 0.8;
}
.barcelonaH2 {
    position: relative;
    top: -245px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: serif;
    width: 50%;
    padding: 5px;
    text-align: center;
    font-size: 40px;
    background: #c6eaea;
    width: 300px;
    opacity: 0.8;
}
.barcelonaText {
    text-align: center;
    font-size: 20px;
    width: 600px;
    position: relative;
    top: -235px;
    left: 300px;
    border: none;
    background: #c6eaea;
    opacity: 0.8;
}
.breadcrumbFooterHome {
    position: relative;
    top: 600px;
    left: 550px;
}
.freepikHome {
    position: relative;
    top: 500px;
    text-align: center;
}
.breadcrumbFooterContact {
    position: relative;
    top: 700px;
    left: 575px;
}
.breadcrumbFooterDestination {
    position: relative;
    left: 555px;
}
.freepikContact {
    position: relative;
    top: 600px;
    text-align: center;
}
.freepikDestination {
    position: relative;
    text-align: center;
}
.bodyDestination {
    background: url(images/shrine.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.footerDestination {
    background: #c6eaea;
    opacity: 0.8;
}